
  <!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css"  media="screen,projection"/>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">LN - Murray Rothbard</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!--<li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>-->
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <form action="" method="POST" class="col s12">
            <div class="row">
              <label for="description">Invoice description: </label>
              <input id="description" name="description" type="text" class="validate"/>
            </div>
            <div class="row">
              <label for="amount">Amount (satoshi): </label>
              <input id="amount" name="amount" type="number" class="validate" min="0" step="1000" value="10000"/>
            </div>
            <div class="row">
              <label for="expiry">Expiry (seconds): </label>
              <input id="expiry" name="expiry" type="number" class="validate" min="3600" step="3600" value="3600"/>
            </div>
            <div class="right-align">
              <button class="btn waves-effect waves-light" type="submit" name="action">Generate invoice
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
        <div class="row center-align">
        {{ if .data }}
          <img src="/qr/?data={{ .data }}"/>
        {{ end }}
        </div>
      </div>

      <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    </body>
  </html>
